<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SMK_Laundry.Properties.Settings.SMK_LAUNDRYConnectionString"
            connectionString="Data Source=LAPTOP-DENT5RFJ;Initial Catalog=SMK_LAUNDRY;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="SMK_Laundry.Properties.Settings.SMK_LAUNDRYConnectionString1"
            connectionString="Data Source=LAPTOP-DENT5RFJ;Initial Catalog=SMK_LAUNDRY;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>